.App-header {
  text-align: center;
}
.form{
  width: 500px;
  margin: 0 auto;
}
.form-container{
  padding: 10px;
  background-color: cadetblue;
}
input[type=text]{
  width: 95%;
  padding: 10px;
  margin: 10px 0px;
}
input::placeholder{
  font-style: oblique;
  font-size: 15px;
}
ul,ol{
  list-style: none;
}
li{
  font-size: 17px;
  margin: 10px 0;
}
